<tr><td>

<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @news.title %>
</p>

<p>
  <b>Link:</b>
  <%= @news.link %>
</p>

<p>
  <b>Created by</b>
  <% @user = User.find(@news.user_id) %>
  <%= @user.email %>
</p>

<%= link_to 'Back', news_index_path %>

</tr></td>

