<!DOCTYPE html>
<html>
<head>
  <title>Hacker News</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- <p class="notice"><%= notice %></p> -->
<!-- <p class="alert"><%= alert %></p> -->

  <div id="header" style="position:absolute; background-color:#ff6600; width:800px; top:0px; height:25px" align=left>
        <a href="http://ycombinator.com/"><img src="http://ycombinator.com/images/y18.gif" style="border:1px white solid"></a>

      <b>Hacker News </b>
    <%= link_to "news", news_index_path %> |
    <%= link_to 'comments', discusses_path %> |
    <%= link_to 'submit', new_news_path %>
  </div>
	<div id="user_nav" style="position:absolute; background-color:#ff6600; width:400px; top:0px; left:800px; height:25px" align=right>
	  <% if user_signed_in? %>
	    Signed in as <%= current_user.email %>. Not you?
	    <%= link_to "logout", destroy_user_session_path(@post), :method => :delete %>
	  <% else %>
	    <%= link_to "login", new_user_session_path %>
	  <% end %>
  </div>
<div id="main" style="position:absolute; background-color:#feead8; width:1200px; top:25px">


<%= yield %> 

</div>

</body>
</html>
